/Veterinaria/nbproject/private/
/Veterinaria/build/
/Veterinaria1/nbproject/private/
/Veterinaria1/build/
/Veterinaria1/dist/
/Animalitos/nbproject/private/
/Animalitos/build/
/Animalitos/dist/
/login/nbproject/private/
/velocity/nbproject/private/
/velocity/build/
/login/build/
/login/dist/
/Veterinaria/dist/
/prueba/nbproject/private/
/prueba/build/
/Veterinaria_web/nbproject/private/
/Veterinaria_web/build/
/Veterinaria_web/dist/
/pru/nbproject/private/
/pru/build/
/Animalitos_web/nbproject/private/
/Animalitos_web/build/
/Animalitos_web/dist/
/WebApplication1/nbproject/private/
/iot_store/nbproject/private/
/iot_store/build/
/WebApplication1/build/
/iot_store/dist/
/WebApplication2/nbproject/private/
/WebApplication2/build/
/iot_store_web/nbproject/private/
/WebApplication3/nbproject/private/
/WebApplication4/nbproject/private/
/WebApplication4/build/
/WebApplication4/dist/
/iot_store_web/build/
/iot_store_web/dist/